# Overview

* We will analyze two datasets related to Covid-19, Covid-19 World Vaccination Progress by country and Covid -19 death/cases data by country to try.
* We will perfrom hypothesis test to infere if increased Covid-19 vaccination will result in lower Covid-19 case counts.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [5]:
# Creating df from both the csv files
covid_cases_df = pd.read_csv('Resource/covid-data.csv')
covid_vacc_df = pd.read_csv('Resource/country_vaccinations.csv')


# updating the df to have columns needed for analysis
covid_vacc_df = covid_vacc_df[['country', 'date', 'iso_code', 'total_vaccinations', \
                               'daily_vaccinations', 'total_vaccinations_per_hundred']]

covid_cases_df = covid_cases_df[['location', 'date', 'iso_code', 'total_cases', 'new_cases', \
                                'total_deaths', 'new_deaths', 'population', 'total_cases_per_million', \
                                 'new_cases_per_million']]

In [3]:
covid_vacc_df

,country,date,iso_code,total_vaccinations,daily_vaccinations,total_vaccinations_per_hundred
0,Afghanistan,2021-02-22,AFG,0.0,NaN,0.00
1,Afghanistan,2021-02-23,AFG,NaN,1367.0,NaN
2,Afghanistan,2021-02-24,AFG,NaN,1367.0,NaN
3,Afghanistan,2021-02-25,AFG,NaN,1367.0,NaN
4,Afghanistan,2021-02-26,AFG,NaN,1367.0,NaN
...,...,...,...,...,...,...
86507,Zimbabwe,2022-03-25,ZWE,8691642.0,69579.0,57.59
86508,Zimbabwe,2022-03-26,ZWE,8791728.0,83429.0,58.25
86509,Zimbabwe,2022-03-27,ZWE,8845039.0,90629.0,58.61
86510,Zimbabwe,2022-03-28,ZWE,8934360.0,100614.0,59.20
86511,Zimbabwe,2022-03-29,ZWE,9039729.0,103751.0,59.90

In [6]:
# only keep total columns
covid_cases_df.groupby(['location']).max()

,date,iso_code,total_cases,new_cases,total_deaths,new_deaths,population,total_cases_per_million,new_cases_per_million
location,,,,,,,,,
Afghanistan,2022-03-05,AFG,174331.0,3243.0,7622.0,159.0,3.983543e+07,4376.280,81.410
Africa,2022-03-05,OWID_AFR,11268386.0,60523.0,249206.0,1513.0,1.373486e+09,8204.221,44.065
Albania,2022-03-05,ALB,272030.0,4789.0,3478.0,21.0,2.872934e+06,94687.173,1666.937
Algeria,2022-03-05,DZA,265227.0,2521.0,6853.0,49.0,4.461663e+07,5944.578,56.504
Andorra,2022-03-05,AND,38434.0,2313.0,151.0,6.0,7.735400e+04,496858.598,29901.492
...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,2022-03-05,WLF,454.0,47.0,7.0,2.0,1.109400e+04,40923.021,4236.524
World,2022-03-05,OWID_WRL,445129499.0,4206334.0,5995245.0,18020.0,7.874966e+09,56524.627,534.140
Yemen,2022-03-05,YEM,11775.0,287.0,2135.0,60.0,3.049064e+07,386.184,9.413
Zambia,2022-03-05,ZMB,313744.0,5555.0,3958.0,72.0,1.892066e+07,16582.088,293.594
Zimbabwe,2022-03-05,ZWE,239019.0,9185.0,5397.0,107.0,1.509217e+07,15837.284,608.594